.SearchOutterBody {
  width: 100%;
  height: min-content;

  .SearchInnerBody {
    max-width: 90%;
    height: max-content;
    margin-left: 5%;
    margin-right: 5%;

    .firstLine {
      display: grid;
      grid-template-columns: 10% 70% 30%;
    }
    .accountBarBody {
      width: fit-content;
    }
    .logoBody img {
      width: 100%;
    }
    .searchBarBody span {
      width: 100%;
    }
  }
}
